GLOBAL DOMAIN
(Xs, Xe, Xn) -8.0 8.0 128
(Ys, Ye, Yn) -8.0 8.0 128
(Zs, Ze, Zn) -8.0 8.0 128

MPI/GPU SUBDOMAIN DECOMPOSITION
(In, Jn, Kn) 1 1 2

PHYSICAL PARAMETERS
rho_f 1
nu 1
s_D 1
s_k 1e7
s_alpha 20.
s_ref 0.

SIMULATION PARAMETERS
duration 50.
CFL 0.5
SCALAR 1
pp_max_iter 2000
pp_residual 1e-6
lamb_max_iter 200
lamb_residual 1e-2
lamb_relax 1.0
lamb_cut 1e-4
s_lamb_cut 1e-4

BOUNDARY CONDITIONS
v_bc_tdelay 0
PRESSURE
bc.pW PERIODIC
bc.pE PERIODIC
bc.pS PERIODIC
bc.pN PERIODIC
bc.pB NEUMANN 0
bc.pT NEUMANN 0
X-VELOCITY
bc.uW PERIODIC
bc.uE PERIODIC
bc.uS PERIODIC
bc.uN PERIODIC
bc.uB DIRICHLET 0 0
bc.uT DIRICHLET 0 0
Y-VELOCITY
bc.vW PERIODIC
bc.vE PERIODIC
bc.vS PERIODIC
bc.vN PERIODIC
bc.vB DIRICHLET 0 0
bc.vT DIRICHLET 0 0
Z-VELOCITY
bc.wW PERIODIC
bc.wE PERIODIC
bc.wS PERIODIC
bc.wN PERIODIC
bc.wB DIRICHLET 0 0
bc.wT DIRICHLET 0 0
SCALAR
bc_s.sW PERIODIC
bc_s.sE PERIODIC
bc_s.sS PERIODIC
bc_s.sN PERIODIC
bc_s.sB DIRICHLET 0.5
bc_s.sT DIRICHLET -0.5

INITIAL CONDITION
init_cond QUIESCENT
init_s 0. 0.05

SOLVABILITY ENFORCEMENT PLANE
out_plane HOMOGENEOUS

SIMULATION DRIVING CONDITIONS
p_bc_tdelay 0.
gradP.x 0. 0.
gradP.y 0. 0.
gradP.z 0. 0.
g_bc_tdelay 0.
g.x 0. 0.
g.y 0. 0.
g.z -10. -100.

PID CONTROLLER GAINS
Kp 0.
Ki 0.
Kd 0.

TURBULENT FORCING PARAMETERS
turbA 0.
