GLOBAL DOMAIN
(Xs, Xe, Xn) -6.0 6.0 96
(Ys, Ye, Yn) -6.0 6.0 96
(Zs, Ze, Zn) -6.0 6.0 96

MPI/GPU SUBDOMAIN DECOMPOSITION
(In, Jn, Kn) 2 2 1

PHYSICAL PARAMETERS
rho_f 1.
nu 1.0

SIMULATION PARAMETERS
duration 1.0
CFL 0.5
pp_max_iter 2000
pp_residual 1e-6
lamb_max_iter 50
lamb_residual 1e-2
lamb_relax 1.0
lamb_cut 1e-4

BOUNDARY CONDITIONS
v_bc_tdelay 0
PRESSURE
bc.pW NEUMANN
bc.pE NEUMANN
bc.pS NEUMANN
bc.pN NEUMANN
bc.pB PERIODIC
bc.pT PERIODIC
X-VELOCITY
bc.uW DIRICHLET 0 0
bc.uE DIRICHLET 0 0
bc.uS DIRICHLET 0 0
bc.uN DIRICHLET 10 0
bc.uB PERIODIC
bc.uT PERIODIC
Y-VELOCITY
bc.vW DIRICHLET 0 0
bc.vE DIRICHLET 0 0
bc.vS DIRICHLET 0 0
bc.vN DIRICHLET 0 0
bc.vB PERIODIC
bc.vT PERIODIC
Z-VELOCITY
bc.wW DIRICHLET 0 0
bc.wE DIRICHLET 0 0
bc.wS DIRICHLET 0 0
bc.wN DIRICHLET 0 0
bc.wB PERIODIC
bc.wT PERIODIC

INITIAL CONDITION
init_cond QUIESCENT

SOLVABILITY ENFORCEMENT PLANE
out_plane NORTH

SIMULATION DRIVING CONDITIONS
p_bc_tdelay 0
gradP.x 0. 0.
gradP.y 0. 0.
gradP.z 0. 0.
g_bc_tdelay 0
g.x 0. 0.
g.y 0. 0.
g.z 0. 0.

PID CONTROLLER GAINS
Kp 0.
Ki 0.
Kd 0.

TURBULENT FORCING PARAMETERS
turbA 0.
