GLOBAL DOMAIN
(Xs, Xe, Xn) -6.0 6.0 96
(Ys, Ye, Yn) -6.0 6.0 96
(Zs, Ze, Zn) -6.0 6.0 96

MPI/GPU SUBDOMAIN DECOMPOSITION
(In, Jn, Kn) 2 2 1

PHYSICAL PARAMETERS
rho_f 1.
nu 1.0

SIMULATION PARAMETERS
duration 1.0
CFL 0.5
pp_max_iter 2000
pp_residual 1e-6
lamb_max_iter 50
lamb_residual 1e-2
lamb_relax 1.0
lamb_cut 1e-4

BOUNDARY CONDITIONS
v_bc_tdelay 0
PRESSURE
bc.pW PERIODIC
bc.pE PERIODIC
bc.pS PERIODIC
bc.pN PERIODIC
bc.pB NEUMANN 1
bc.pT NEUMANN 1
X-VELOCITY
bc.uW PERIODIC
bc.uE PERIODIC
bc.uS PERIODIC
bc.uN PERIODIC
bc.uB DIRICHLET 0 0
bc.uT NEUMANN
Y-VELOCITY
bc.vW PERIODIC
bc.vE PERIODIC
bc.vS PERIODIC
bc.vN PERIODIC
bc.vB DIRICHLET 0 0
bc.vT NEUMANN
Z-VELOCITY
bc.wW PERIODIC
bc.wE PERIODIC
bc.wS PERIODIC
bc.wN PERIODIC
bc.wB DIRICHLET 0 0
bc.wT NEUMANN

INITIAL CONDITION
init_cond QUIESCENT

SOLVABILITY ENFORCEMENT PLANE
out_plane TOP

SIMULATION DRIVING CONDITIONS
p_bc_tdelay 0
gradP.x 0. 0.
gradP.y 0. 0.
gradP.z 0. 0.
g_bc_tdelay 0
g.x 0. 0.
g.y 0. 0.
g.z -10. -10.

PID CONTROLLER GAINS
Kp 0.
Ki 0.
Kd 0.

TURBULENT FORCING PARAMETERS
turbA 0.
